<hr>
<p>&copy; 2024  Sonali Bedge. All rights reserved.</p>
<div>
    <a href="mailto:bedgesonali@yahoo.com" target="_blank"><img width="40" height="40"
            src="/media/mail_img.png" alt="secured-letter" /></a>
    <a href="https://github.com/SonaliBedge" target="_blank"><img width="40" height="40" alt="GitHub"
            src="/media/github--v1.png"></a>
    <a href="https://www.linkedin.com/in/sonali-bedge-488a07155/" target="_blank"><img width="40"
            height="40" alt="linkedin" src="/media/linkedin--v2.png"></a>
</div>
<p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p> 
</body>
</html>