<h1>The Student EJS Application</h1>
<% if (user) { %>
  <p>User <%= user.name %> is logged on.</p>
  <form method="POST" action="/sessions/logoff">  
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
  <button>Logoff</button>
  
  </form>
<% } %>
<% if (errors && Array.isArray(errors)) {
  errors.forEach((err) => { %>
    <div>Error: <%= err %></div>
<% }) } %>
<% if (info && Array.isArray(info)) {
  info.forEach((msg) => { %>
    <div>Info: <%= msg %></div>
<% }) } %>
<img id="school-logo-img" src="/media/logo-school-img.png" alt="School Logo" width="35px" height="35px">
<button id="dark-mode-btn"  onclick="myfunction()">
  <img src="/media/dark-mode.png" alt="dark-mode" width="15px" height="15px">
</button>
<hr />


<script>
  function myfunction() {
    // Get the body element of the page
    const body = document.querySelector('body');
    const anchor = document.querySelectorAll('a');
    // Toggle the 'dark-mode' class on the body element
    anchor.forEach(a => {
      a.classList.toggle('dark-mode');
    })
    
    body.classList.toggle('dark-mode');
  }
</script>