<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<% if (user) { %>
    <a href="/secretWord">Click this link to view/change the secret word.</a></br>
</br><a href="/students">Show Student Data.</a></br>
</br><a href="/teachers">Show Teacher Data.</a></br>
</br><a href="/books">Show Book Data.</a></br>
</br><a href="/subjects">Show Subject Data.</a></br>
<% } else { %>
    <a href="/sessions/logon">Click this link to logon.</a></br>
    <a href="/sessions/register">Click this link to register.</a>
    
<% } %>
<%- include("partials/footer.ejs") %>